* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.center {
  text-align: center;
}

body {
  min-height: 100vh;
  height: fit-content;
  position: relative;
}

body > header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1rem 0;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px #00000020;
  box-shadow: 0px 0px 15px 0px #00000020;
}

body > footer {
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

body .container {
  padding: 90px 0;
}

body .container > hr {
  width: 300px;
}

body .container .form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body .container .form .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

body .container .form .description {
  margin-bottom: 20px;
}

body .container .form .segment {
  line-break: anywhere;
  line-break: break-all;
  width: 200px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0.67857143em 1em;
  background-color: black;
  color: white;
}

body .container .form .input {
  margin-bottom: 20px;
  width: 200px;
}
body .container .form .input > input {
  text-align: center;
}

body .container .form .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body .container .form .buttons .button {
  margin: 0 10px;
  cursor: pointer;
}

body .modal .actions {
  display: flex;
  justify-content: center;
}

div#form {
  width: 500px;
  margin: 0 auto;
}

.error {
  display: none;
}
